header {
  height: 60px;
  display: flex;
  background-color: rgb(71, 152, 227);
  padding: 10px;
  align-items: center;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
}

.square_box {
  background: linear-gradient(45deg, rgb(225, 236, 239), rgb(215, 230, 235));
  height: 250px;
  width: 400px;
  margin: 15px;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}

.square_box:hover {
  transform: scale(1.1);
}

.square_box td {
  border-bottom: 1px solid #ccc;
}

.square_box h1 {
  margin: 0;
  margin-bottom: 5px;
}

body {
  margin: 0px;
}

.box_area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}

.box_area img {
  height: 220px;
  width: 220px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
}
.pre_product_area {
  background: linear-gradient(0deg, rgb(71, 152, 227), rgb(255, 255, 255));
  height: 40px;
  margin: 0;
}

.product_area {
  margin: 0;
  min-height: 100%;
  background-color: rgb(71, 152, 227);
  color: white;
  padding: 20px;
}

.product_area h1 {
  margin: 0;
}

.product_area h2 {
  margin: 10px;
}

.detail_box {
  background-color: rgb(53, 113, 168);
  width: 600px;
  margin: 15px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0px 4 rgb(53, 113, 168);
}

.detail_box h3 {
  margin: 0;
  margin-bottom: 8px;
}

.detail_box p {
  margin-bottom: 8px;
  margin-top: 0px;
}

.detail_box td {
  border-bottom: 1px solid rgb(99, 147, 192);
}

.product_area img {
  width: 520px;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.product_area img:hover {
  transform: scale(1.15);
}

.iframe {
  width: 500px;
}

.product_area article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product_area hr {
  margin: 80px 0;
}
